aiohttp==3.8.4
aiosignal==1.3.1
arcp==0.2.1
arrow==1.2.3
async-timeout==4.0.2
attrs==23.1.0
bioblend==1.1.1
blinker==1.6.2
CacheControl==0.12.11
cachetools==4.2.4
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
cryptography==36.0.2
dill==0.3.5.1
docker==6.1.2
fair-research-login==0.3.0
Flask==2.1.3
frozenlist==1.3.3
funcx==1.0.13
funcx-common==0.0.25
future==0.18.3
galaxy2cwl==0.1.4
gladier==0.8.4
gladier-tools==0.4.4
globus-action-provider-tools @ git+https://github.com/GusEllerm/action-provider-tools@5413e506e72ffecc1712e79d4f30d251119cd8ae
globus-automate-client==0.16.1.post1
globus-cli==3.13.0
globus-sdk==3.19.0
graphviz==0.12
gxformat2==0.18.0
idna==3.4
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==3.2.0
lockfile==0.12.2
lp-ap-tools==0.1.5
MarkupSafe==2.1.2
mistune==2.0.5
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.1
pika==1.3.2
pybase62==0.4.3
pycparser==2.21
pydantic==1.10.7
Pygments==2.15.1
PyJWT==2.7.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
PyYAML==5.4.1
rdflib==6.3.2
requests==2.31.0
requests-toolbelt==1.0.0
rich==12.6.0
rocrate @ git+https://github.com/ResearchObject/ro-crate-py@266aeba69f87855a041490105efd0ac90640d0e3
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
schema-salad==8.4.20230511084951
shellingham==1.5.0.post1
six==1.16.0
tblib==1.7.0
texttable==1.6.7
tinydb==4.7.1
tuspy==1.0.0
typer==0.4.2
typing_extensions==4.6.0
urllib3==1.26.15
websocket-client==1.5.2
websockets==10.3
Werkzeug==2.3.4
yarl==1.9.2
